<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ymz.app.mapper.UserFollowMapper">

    <insert id="insertIgnore">
        insert ignore into user_follow (follower_id, followee_id)
        values (#{followerId}, #{followeeId})
    </insert>

    <delete id="deleteByFollowerIdAndFolloweeId">
        delete from user_follow
        where follower_id = #{followerId}
          and followee_id = #{followeeId}
    </delete>

    <select id="countByFollowerIdAndFolloweeId" resultType="long">
        select count(1)
        from user_follow
        where follower_id = #{followerId}
          and followee_id = #{followeeId}
    </select>

    <select id="paginateFollowing" resultType="org.ymz.app.model.entity.User">
        select u.*
        from user u
                 join user_follow f on u.id = f.followee_id
        where f.follower_id = #{userId}
        <if test="keyword != null and keyword != ''">
            and u.nickname like concat('%', #{keyword}, '%')
        </if>
        order by f.created_at desc
    </select>

    <select id="paginateFollowers" resultType="org.ymz.app.model.entity.User">
        select u.*
        from user u
                 join user_follow f on u.id = f.follower_id
        where f.followee_id = #{userId}
        <if test="keyword != null and keyword != ''">
            and u.nickname like concat('%', #{keyword}, '%')
        </if>
        order by f.created_at desc
    </select>

    <select id="listFolloweeIds" resultType="long">
        select followee_id
        from user_follow
        where follower_id = #{followerId}
          and followee_id in
        <foreach collection="followeeIds" item="followeeId" open="(" separator="," close=")">
            #{followeeId}
        </foreach>
    </select>

    <select id="listFollowerIds" resultType="long">
        select follower_id
        from user_follow
        where followee_id = #{followeeId}
          and follower_id in
        <foreach collection="followerIds" item="followerId" open="(" separator="," close=")">
            #{followerId}
        </foreach>
    </select>
</mapper>
